body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    height: 100%;
    color: #001f3f;
}

/* unvisited link */
a:link {
    color: #3575bd;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #3575bd;
}

/* mouse over link */
a:hover {
    color: #3575bd;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #3575bd;
} 

HR {
   border: 0;
   height: 1px;
   background: #001f3f;
}

/*  Can be used to make a vertical spacer. 
	Just set a 'height=10px' or whatever on the actual div or other element. */
.break {
  display: block;
}

#outer_container {
    width: 100%;
    border: 0px solid green;
    margin: 0 auto;
    text-align: center;
}

#new_strain_form_container {
    border: 0px solid black;
}

#new_strain_modal_title {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: .5rem;
}

#con_strain_name {
    padding-bottom: .5rem;
}

#strain_name {
    width: 14rem;
}

#con_star_rating {
    padding-bottom: .5rem;
}

#con_sativa_pct {
    float: left;
    padding-bottom: .5rem;
}

#con_indica_pct {
    float: left;
    clear: left;
    padding-bottom: .5rem;
}

#con_thc_pct {
    float: right;
    padding-bottom: .5rem;
}

#thc_pct_label {
    font-size: .95rem;
}

#con_cbd_pct {
    float: right;
    padding-bottom: .5rem;
}

#cbd_pct_label {
    font-size: .95rem;
}

#con_company {
    clear: left;
    padding-bottom: .5rem;
}

#company_label {
    margin-right: 11px; /* yeah yeah... */
}

#company {
    width: 12rem;
}

#con_dispensary  {
    clear: left;
    margin-bottom: 1rem;
}

#dispensary {
    width: 12rem;
}

#con_comments {
    clear: left;
}

#comments {
    /* -----------------------------------------------*/
    /* Credit: https://davidwalsh.name/textarea-width */
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
    /* -----------------------------------------------*/
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

#sativa_pct, #indica_pct, #thc_pct, #cbd_pct {
    width: 3rem;
}

.strain_row {
    /* border: 0px solid black; */
    border-top: 1px solid black;
    width: 90%;
    margin: 15px;
    padding: 3px;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    overflow: auto;
}

.strain_column_left {
    border: 0px solid purple;
    float: left;
    width: 49%;
    text-align: left;
    /* font-size: .75rem; */
    height: auto;
}

.strain_column_right {
    border: 0px solid purple;
    float: right;
    width: 49%;
    text-align: right;
    /* font-size: .75rem; */
    height: auto;
}

.strain_name_display {
    font-size: .90rem;
    text-decoration: underline;
}

.strain_rating_display {
    font-size: .70rem;
}

.star_for_list {
    width: 1.5em;
    height: 1.5em;
}

.strain_company_display {
    font-size: .70rem;
}

.strain_dispensary_display {
    font-size: .70rem;
}

.strain_stats_display {
    font-size: .70rem;
}

.comments_row {
    border: 0px solid orange;
    /* float: left; */
    /* width: 98%; */
    text-align: left;
    /* font-size: .75rem; */
    height: auto;
    overflow: auto;
    font-size: .70rem;
    margin-top: 3px;
}

.comment_text {
    font-size: .70rem;
    font-style: italic;
}

.clear {
    clear: both;
}

@media screen and (min-width: 275px) and (max-width: 1023px) { 
    #outer_container {
        width: 100%;
        /* border-color: blue; */
    }
}

@media screen and (min-width: 1024px) { 
    #outer_container {
        width: 1000px;
        /* border-color: red; */
    }
}
