{{define "header-end"}}
</head>
<body>

<table width="100%"><tr><td align="center">

<div style="margin-bottom: 0px; border-bottom: 1px solid #001f3f; margin-left: 2px; margin-right: 1px;">
    <div style="font-size: 1.2em; font-weight: bold;">Strain Diary</div>
    <div>{{.Common.MastheadTagline}}</div>
</div>


<div id="nav_menu" style=" height: 20px;"></div>


<!-- <div id="outer_content_container" style="margin-left: 5px; margin-right: 5px;"> -->

<!-- <div style="margin-top: 10px; font-size: .8em;">
<a href="/">Home</a> | <a href="logout">Logout</a>
</div> -->
{{end}}
