{{define "header-end"}}
</head>
<body>

<div id="fixed_header" class="header">
    <div id='functional_row_top'>
        <div id="con_user">
            <a href="#" onclick="sd.popUserSettingsModal();" title="User settings"><img 
                id='user_icon' alt="User settings" src="{{ .Common.StaticAssetUrlBase }}user-50x50-trans.png" /></a>
                <div id='user_icon_label'>Settings</div>
                <!-- <div id="nickname"></div> -->
        </div>

        <div id='con_masthead'>
            <div id='mastheadTitle'>Strain Diary</div>
            <div id='mastheadTagline'>{{.Common.MastheadTagline}}</div>
        </div>
    
        <!-- <button id="btn_support" onclick="sd.support();">UNREGISTERED</button> -->
        
        <div id="con_logout">
            <a href="#" onclick="sd.logout();" title="Log out"><img 
                id='logout_icon' alt="Log out" src="{{ .Common.StaticAssetUrlBase }}logout-door-50x83-trans.png" /></a>
            <div id="logout_label">logout</div>
        </div><!-- con_logout -->

    </div> <!-- functional_row_bottom -->
</div>

<div id="outer_container">

{{end}}
