{{define "header"}}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<title>{{.Common.PageTitle}}</title>

<script src="{{ .Common.StaticAssetUrlBase }}tingle/0.13.2/dist/tingle.min.js"></script>
<link rel="stylesheet" href="{{ .Common.StaticAssetUrlBase }}tingle/0.13.2/dist/tingle.min.css" />
<link rel="stylesheet" type="text/css" href="{{ .Common.StaticAssetUrlBase }}base.css" media="all">

{{end}}
